<div ng-controller="merchantsController">

    <table class="table">
        <thead>
        商户管理
        </thead>
        <tbody>
        <tr ng-repeat="x in list">
            <td>{{x.id}}</td>
            <td ui-sref="admin.view({id: x.id})">
                <img ng-src="{{x.}}" alt="Logo" />
            </td>
            <td>{{x.name}}</td>
            <td>{{x.licence}}</td>

            <td>浏览:{{x.read_num}}</td>
            <td>分享:{{x.share_num}}</td>

            <td>{{x.phone}}</td>
            <td>{{x.description}}</td>
            <td>创建时间：{{x.created_at}}</td>
            <td>{{x.status}}</td>


            <td><button class="btn" type="button" ng-click="deleteProduct(x)">Delete</button></td>
        </tr>

        </tr>
        </tbody>
    </table>
</div>