<script src="js/myEvent.js"></script>
<script src="js/main.js"></script>


<div class="main">
    <div class="banner">
        <a id="sign_in_btn" class="sign-in-btn" href="#">登录</a>
        <a class="view-case-btn" href="#">查看案例</a>
        <a class="free-register-btn" ui-sref="register">免费注册</a>
    </div>
    <img class="sec-img" src="img/sec1.jpg" alt="">
    <img class="sec-img" src="img/sec2.jpg" alt="">
    <img class="sec-img" src="img/sec3.jpg" alt="">
</div>
<div class="footer">
    <a class="contact-we" href="#">联系我们：fankui@boluomi1314.com</a>
    <p class="copyRight">Copyright © 2014—2015 boluomi1314.com  京ICP备14053981号-1</p>
</div>


<!-- combime jquery with angular--  angular response for login and register    comment by Ming-->

<form name="form"  ng-submit="login()" role="form">

    <div id="login_zone" class="tipsBox login-zone">

        <input ng-model="account" placeholder="账号（手机号）" class="ipt J_account" type="text" name="" id="" maxlength="11">
        <input ng-model="password" placeholder="密码" class="ipt J_password" type="password" name="" id="">
        <button class="login-btn J_login_btn">登录</button>
        <div class="info">

            <input ng-model="rememberMe" ng-true-value="1" ng-false-value="0"  id="remember_me" type="checkbox" name="" id="">
            30天内自动登录
            <a id="forget_link" class="forget-link" href="#">忘记密码</a>
        </div>

        <a ui-sref="register" class="brand-regist-btn">商家免费注册</a>
        <i class="close-btn J_close_btn"></i>
    </div>

</form>
<div id="forget_zone" class="tipsBox forget-zone">
    <div class="ipt-zone"><input class="ipt" type="text" name="" placeholder="账号（手机号）" maxlength="11"></div>
    <div class="ipt-zone"><input class="ipt" type="text" name="" placeholder="验证码"><span class="get-code">获取验证码</span></div>
    <div class="ipt-zone"><input class="ipt" type="text" name="" placeholder="密码（6-20位字母或数字）"></div>
    <div class="ipt-zone"><input class="ipt" type="text" name="" placeholder="确认密码（6-20位字母或数字）"></div>

    <a id="finish_btn" href="javascript:;" class="finish-btn">完成</a>


    <i class="close-btn J_close_btn"></i>
</div>

<div id="mask" class="mask"></div>



