
<link rel="stylesheet" href="css/finishbrandinfo.css" />

<!-- <form name="form" ng-submit="register()" role="form"> -->
<form name="registerForm" id="registerForm">
<div class="banner regist-bg"></div>
<ul class="main">
    <li>
        <div class="infoL">
            <i>*</i>
            <span>手机号码：</span>
        </div>
        <div class="infoR">
            <input ng-model="user.account" name="account" class="ipt" placeholder="手机号" type="text" ng-maxlength="11"
                   ng-pattern="/^1{1}[3-9]{1}[0-9]{9}$/" required>
            <div class="error" ng-messages="registerForm.account.$dirty&&registerForm.account.$error">
                <div ng-message="required">请填写手机号~</div>
                <div ng-message="pattern">手机号有误~</div>
            </div>
        </div>
    </li>
    <li>
        <div class="infoL">
            <i>*</i>
            <span>短信验证码：</span>
        </div>
        <div class="infoR code-zone">
            <input  ng-model="user.code" name="code" class="ipt" placeholder="验证码" type="text" required>
            <span id="get_code" class="get-code" ng-click="getPasscode()">{{default.passcodeText}}</span>
            <div class="error" ng-messages="registerForm.code.$dirty&&registerForm.code.$error">
                <div ng-message="required">请填写验证码~</div>
            </div>
        </div>
    </li>
    <li>
        <div class="infoL">
            <i>*</i>
            <span>设置密码：</span>
        </div>
        <div class="infoR">
            <input ng-model="user.password" name="password" class="ipt" placeholder="密码（6-20位字母或数字)" type="text"
                   data-empty="请填写密码~" data-error="两次密码不一样~" required>
            <div class="error" ng-messages="registerForm.password.$dirty&&registerForm.password.$error">
                <div ng-message="required">请填写密码~</div>
            </div>
        </div>
    </li>
    <li>
        <div class="infoL">
            <i>*</i>
            <span>确认密码：</span>
        </div>
        <div class="infoR">
            <input ng-model="user.rePassword" name="rePassword" class="ipt" placeholder="确认密码(6-20位字母或数字）" type="text"
                   data-empty="请填写确认密码~" data-error="两次密码不一样~" required>
            <div class="error" ng-messages="registerForm.rePassword.$dirty&&registerForm.rePassword.$error">
                <div ng-message="required">请填写确认密码~</div>
            </div>
        </div>
    </li>
</ul>

<span id="submit_btn" class="submit-btn b_state_a" ng-click="register()">下一步</span>

<div class="footer">
    <a class="contact-we" href="#">联系我们：fankui@boluomi1314.com</a>
    <p class="copyRight">Copyright © 2014—2015 boluomi1314.com  京ICP备14053981号-1</p>
</div>

</form>

<style>
   .infoL{
       box-sizing: content-box;
   }
</style>


<script src="js/myEvent.js"></script>
<script src="js/regist.js"></script>


