
<link rel="stylesheet" href="css/finishbrandinfo.css" />

<!-- <form name="form" ng-submit="register()" role="form"> -->
<form name="form" id="registerForm">
<div class="banner regist-bg"></div>
<ul class="main">
    <li>
        <div class="infoL">
            <i>*</i>
            <span>手机号码：</span>
        </div>
        <div class="infoR">
            <input ng-model="user.account" class="ipt" placeholder="手机号" type="text" maxlength="11" data-empty="请填写手机号~" data-error="手机号有误~">
            <div class="error"></div>
        </div>
    </li>
    <li>
        <div class="infoL">
            <i>*</i>
            <span>短信验证码：</span>
        </div>
        <div class="infoR code-zone">
            <input  ng-model="user.code" class="ipt" placeholder="验证码" type="text" data-empty="请填写验证码~" data-error="验证码有误~">
            <span id="get_code" class="get-code">{{default.passcodeText}}</span>
            <div class="error"></div>
        </div>
    </li>
    <li>
        <div class="infoL">
            <i>*</i>
            <span>设置密码：</span>
        </div>
        <div class="infoR">
            <input ng-model="user.password" class="ipt" placeholder="密码（6-20位字母或数字" type="text"  data-empty="请填写密码~" data-error="两次密码不一样~">
            <div class="error"></div>
        </div>
    </li>
    <li>
        <div class="infoL">
            <i>*</i>
            <span>确认密码：</span>
        </div>
        <div class="infoR">
            <input ng-model="user.rePassword" class="ipt" placeholder="确认密码(6-20位字母或数字）" type="text" data-empty="请填写确认密码~" data-error="两次密码不一样~">
            <div class="error"></div>
        </div>
    </li>
</ul>

<a id="submit_btn" class="submit-btn" href="javascript:;">下一步</a>
<!--    <button type="submit" id="submit_btn" class="submit-btn">下一步</button> -->

<div class="footer">
    <a class="contact-we" href="#">联系我们：fankui@boluomi1314.com</a>
    <p class="copyRight">Copyright © 2014—2015 boluomi1314.com  京ICP备14053981号-1</p>
</div>

</form>

<style>
   .infoL{
       box-sizing: content-box;
   }
</style>


<script src="js/myEvent.js"></script>
<script src="js/regist.js"></script>


