.change_wrap{
	padding-bottom:220px;
}
.change_zone{
	padding-left:20px;
	li{
		margin-bottom:24px;
	}
	span{
		display:inline-block;
		width:80px;
		height:44px;
		line-height: 44px;
	}
	input{
		width:340px;
		height:42px;
		border:1px solid #dcdcdb;
		padding:0 8px;
		background:#f7f7f7;
	}
	.code{
		input{
			width:206px;
		}
		a{
			display:inline-block;
			width:110px;
			height:42px;
			line-height: 42px;
			text-align: center;
			border:1px solid #dcdcdb;
			margin-left:20px;
		}
	}
}
.b_state_e{
	&:hover{
		background: -webkit-linear-gradient(left, #FD6183, #fe325f);
		background: linear-gradient(left, #FD6183, #fe325f);
	};
	&:active{
		background:-webkit-linear-gradient(left, #FB2252, #fe325f);
		background:linear-gradient(left, #FB2252, #fe325f);
	};
}

.b_state_f{
	&:hover{
		background-color:#e6e6e6;
	};
	&:active{
		background-color:#cccccc;
	};
}