@charset "UTF-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,textarea,p,th,td{margin:0;padding:0;}
address,em,strong,th{font-style:normal;font-weight:normal;}
fieldset,img { border:0;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
q:before,q:after {content:'';}
input,button{background:none; border:none;}
input:focus{outline:none; }
.clearfix(){
	zoom:1;
	&:after{
		content:"";
		display:table;
		clear:both;
	};
}
.pre(@key,@val){
	-webkit-@{key}:@val;
	-moz-@{key}:@val;
	-ms-@{key}:@val;
	-o-@{key}:@val;
	@{key}:@val;
};
.txtOver(){
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
};
.opaZone(@num:0){
	opacity:@num;
	filter:alpha(opacity=@num);
};
.forbidSelect(){
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
body{
	background:#f5f5f5;
}
a{
	color:#000;
	&:hover{
		text-decoration:none;
	};
	&:focus{
		text-decoration:none;	
	};
}
.header{
	background:#fff;
	padding:20px 0;
	margin-bottom:40px;
	h1{
		float:left;
		padding-left:40px;
		margin:0;
	}
	.b_logo{
		display:block;
		width:316px;
		height:38px;
		text-indent:-9999px;
		background:url(../img/manage_bg.png) no-repeat;
	}
	.brand_info{
		float:right;
		line-height: 46px;
		padding-right:140px;
	}
	.user_photo{
		float:left;
		width:46px;
		height:46px;
		background:url(../img/photo.png);
		overflow: hidden;
	}
	h4{
		float:left;
		height:46px;
		line-height: 46px;
		font-size:16px;
		padding:0 30px 0 18px;
		margin:0;
	}
	.quit_btn{
		float:left;
		font-size:14px;
		color:#8d8d8d;
	}

}
.mana_main{
	width:1200px;
	margin:0 auto 50px;
	background:#fff;
	padding:0 0 50px;
}
.set_wrap{
	dt{
		height:20px;
		line-height: 20px;
		text-indent:90px;
		background:url(../img/icon_1.png) no-repeat;
		background-position:60px center;
		margin:16px 0;
		color:#8d8d8d;
		&.set_tit{
			background-image:url(../img/icon_2.png);
		}
	}
	dd{
		height:42px;
		line-height: 42px;
		text-indent: 90px;
		cursor:pointer;
		&.cur{
			color:#fff;
			background: -moz-linear-gradient(left, #ff7392,#fe325f);
			background: -webkit-linear-gradient(left,#ff7392,#fe325f);
			background: -o-linear-gradient(left, #ff7392,#fe325f);
			background: linear-gradient(left, #ff7392,#fe325f);
		}
		&:hover{
			background-color: -webkit-linear-gradient(left, #FD6183, #fe325f);
			background-color: linear-gradient(left, #FD6183, #fe325f);
		};
		&:active{
			background-color:-webkit-linear-gradient(left, #FB2252, #fe325f);
			background-color:linear-gradient(left, #FB2252, #fe325f);
		};
	}
}
.curmb{
	padding:20px 0 22px 20px;
	margin-bottom:30px;
	border-bottom:1px solid #ccc;
	a{
		color:#5A5959;
	}
}.footer{
	background:#404040;
	text-align: center;
	padding:45px 0;
	p{
		color:#808080;
	}
	.contact{
		color:#fff;
	}
}
.i_btn{
	display: inline-block;
	width:130px;
	height:42px;
	line-height: 42px;
	color:#fff;
	text-align: center;
	background: -moz-linear-gradient(left, #ff7392,#fe325f);
	background: -webkit-linear-gradient(left,#ff7392,#fe325f);
	background: -o-linear-gradient(left, #ff7392,#fe325f);
	background: linear-gradient(left, #ff7392,#fe325f);
	cursor:pointer;
	&:hover{
		color:#fff;
	};
	&:focus{
		color:#fff;
	};
}
.col_cont{
	border-left:1px solid #ccc;
	padding-left:0;
}
