<!--
<div class="col-md-6 col-md-offset-3">
    <h2>更新密码</h2>
    <div ng-show=" error" class="alert alert-danger">{{ error}}</div>
    <form name="form" ng-submit="updatePassword()" role="form">

        <div class="form-group">
            <label>原密码</label>
            <input type="password" class="form-control" ng-model="oldPassword" required />
        </div>

        <div class="form-group">
            <label>新密码</label>
            <input type="password"  class="form-control" ng-model="newPassword" required />
        </div>

        <div class="form-group">
            <label>再次输入密码</label>
            <input type="password"  class="form-control" ng-model="reNewPassword" required />
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">提交</button>
        </div>

    </form>
</div>
 -->
<div>
    <div class="change_wrap">
        <div class="curmb">
            <a href="">设置</a> &gt; <a href="">修改密码</a>
        </div>
        <div class="change_zone">
            <ul>
                <li>
                    <span>原密码：</span>
                    <input ng-model="oldPassword" type="text" name="" id="">
                </li>
                <li>
                    <span>新密码：</span>
                    <input ng-model="newPassword" type="text" name="" id="" placeholder="6-20位字母或数字">
                </li>
                <li>
                    <span>确认密码：</span>
                    <input ng-model="reNewPassword" type="text" name="" id="" placeholder="请再输入一次">
                </li>
            </ul>
            <a class="i_btn" ng-click="updatePassword()">保存</a>
        </div>
    </div>
</div>