
<div>
    <div class="change_wrap">
        <div class="curmb">
            <a href="">设置</a> &gt; <a href="">修改密码</a>
        </div>
        <form name="updatePasswordForm" class="change_zone">
            <ul>
                <li>
                    <span><em class="sign">*</em>原密码：</span>
                    <input ng-model="oldPassword" type="text" name="oldPassword" placeholder="请输入原密码"
                           ng-minlength="6" ng-maxlength="20" required maxlength="20">
                    <div class="error" ng-show="submitted||updatePasswordForm.oldPassword.$dirty" ng-messages="updatePasswordForm.oldPassword.$error">
                        <div ng-message="required">请输入原密码</div>
                        <div ng-message="minlength">请输入6-20位字母或数字</div>
                        <div ng-message="maxlength">请输入6-20位字母或数字</div>
                    </div>
                </li>
                <li>
                    <span><em class="sign">*</em>新密码：</span>
                    <input ng-model="newPassword" type="text" name="newPassword"  placeholder="6-20位字母或数字"
                           ng-minlength="6" ng-maxlength="20" required maxlength="20">
                    <div class="error" ng-show="submitted||updatePasswordForm.newPassword.$dirty" ng-messages="updatePasswordForm.newPassword.$error">
                        <div ng-message="required">请输入新密码</div>
                        <div ng-message="minlength">请输入6-20位字母或数字</div>
                        <div ng-message="maxlength">请输入6-20位字母或数字</div>
                    </div>
                </li>
                <li>
                    <span><em class="sign">*</em>确认密码：</span>
                    <input ng-model="reNewPassword" type="text" name="reNewPassword"  placeholder="请再输入一次"
                           ng-pattern="newPassword" ng-minlength="6" ng-maxlength="20" required maxlength="20">
                    <div class="error" ng-show="submitted||updatePasswordForm.reNewPassword.$dirty" ng-messages="updatePasswordForm.reNewPassword.$error">
                        <div ng-message="required">请再次输入密码</div>
                        <div ng-message="pattern">密码两次输入不一致，请核对后重新输入</div>
                        <div ng-message="minlength">请输入6-20位字母或数字</div>
                        <div ng-message="maxlength">请输入6-20位字母或数字</div>
                    </div>
                </li>
            </ul>
            <a class="i_btn b_state_e" ng-click="updatePassword()">保存</a>
        </form>
    </div>
</div>