<div class="col-md-6 col-md-offset-3">
    <h2>更新密码</h2>
    <div ng-show=" error" class="alert alert-danger">{{ error}}</div>
    <form name="form" ng-submit="updatePassword()" role="form">

        <div class="form-group">
            <label>原密码</label>
            <input type="password" class="form-control" ng-model="oldPassword" required />
        </div>

        <div class="form-group">
            <label>新密码</label>
            <input type="password"  class="form-control" ng-model="newPassword" required />
        </div>

        <div class="form-group">
            <label>再次输入密码</label>
            <input type="password"  class="form-control" ng-model="reNewPassword" required />
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">提交</button>
        </div>

    </form>
</div>