
<div>
    <div class="base_info">
        <div class="curmb">
            <a ui-sref="admin.merchants">商家管理</a> > <a href="">{{merchant.name}}</a>
        </div>
        <!--<div class="page_tips">
            <i></i>本页为必填页
        </div> -->

        <ul>
            <li class="row">
                <div class="col-md-2">
                    <span class="key">商家状态：</span>
                </div>
                <div class="col-md-10">
                    <p>{{statusList[merchant.status]}}</p>
                </div>
            </li>
            <li class="row">
                <div class="col-md-2">
                    <span class="key">商家账号：</span>
                </div>
                <div class="col-md-10">
                    <p>{{merchant.account}}</p>
                </div>
            </li>

            <!-- 密码？ -->
            <li class="row">
                <div class="col-md-2">
                    <span class="key">商家名称：</span>
                </div>
                <div class="col-md-10">
                    <input ng-model="merchant.name" id="name" class="ipt" type="text">
                </div>
            </li>

            <li class="row">
                <div class="col-md-2">
                    <span class="key">联系方式：</span>
                </div>
                <div class="col-md-10">
                    <input ng-model="merchant.phone" id="contact_phone" class="ipt" type="text" maxlength="11">
                </div>
            </li>

            <li class="row">
                <div class="col-md-2">
                    <span class="key">商家LOGO：</span>
                </div>

                <div class="col-md-10">
                    <button id="brand_logo" class="base_btn"  role="button"
                            ng-click="uploadOption = 'logo'" data-logo-src="{{merchant.logo}}"
                            class="upload_btn" type="file" ngf-select="uploadSingleFile($file)"
                            accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                        {{logoButton}}</button>
                </div>


            </li>
            <li class="row">
                <div class="col-md-2 col-md-offset-2">
                    <img class="logo_img" ng-if="merchant.logo!=null && merchant.logo!= ''" ng-src="{{merchant.logo}}" alt="">
                </div>
            </li>
            <li class="row">
                <div class="col-md-2">
                    <span class="key">商家网址：</span>
                </div>

                <div class="col-md-10">
                    <input ng-model="merchant.url" id="url" class="ipt" type="text">
                </div>

            </li>

            <li class="row">
                <div class="col-md-2">
                    <span class="key">商家类型：</span>
                </div>
                <div id="brand_type" class="col-md-10" data-type="">
                    <div class="radio_zone">
                        <input ng-model="merchant.type" ng-checked="merchant.type==0" id="type1" data-type="1" class="rad" type="radio" name="type" id="">影楼
                        <input ng-model="merchant.type" ng-checked="merchant.type==1" id="type2" data-type="2" class="rad" type="radio" name="type" id="">工作室
                    </div>
                </div>

            </li>

            <li class="row">
                <div class="col-md-2">
                    <span class="key">所在区域：</span>
                </div>
                <div class="col-md-10">
                    <select required=""  ng-model="merchant.province" ng-options="key as key for (key,value) in division"
                            ng-change="merchant.city='';merchant.area='';">
                        <option value="">省</option>
                    </select>

                    <select  ng-model="merchant.city" ng-options="key as key for (key,value) in division[merchant.province]"
                             ng-change="merchant.area='';">
                        <option value="">市</option>
                    </select>
                    <select  ng-model="merchant.area" ng-options="value as value for value in division[merchant.province][merchant.city]">
                        <option value="">区</option>
                    </select>
                </div>
            </li>

            <li class="row">
                <div class="col-md-2">
                    <span class="key">详细地址：</span>
                </div>
                <div class="col-md-10">
                    <input id="detail_address" ng-model="merchant.address" id="detail_address" class="ipt" type="text" name="" id="" data-empty="请填写详细地址">
                </div>
            </li>
            <li class="row">
                <div class="col-md-2">
                    <span class="key">地图标注：</span>
                </div>
                <div class="col-md-10">
                    <a class="base_btn" role="button" id="map_mark" href="javacript:;" data-position="">重新标注</a>
                    <div class="area"></div>
                </div>
            </li>
            <li class="row">
                <div class="col-md-offset-2 map_preview">
                    <baidu-map  options="smallMap"></baidu-map>
                </div>
            </li>
            <li class="row">
                <div class="col-md-2">
                    <span class="key">营业执照：</span>
                </div>
                <div class="col-md-10">
                   <button id="licence_pic" class="base_btn" role="button"
                            ng-click="uploadOption = 'licence'" data-logo-src="{{merchant.licence}}"
                            class="upload_btn" type="file" ngf-select="uploadSingleFile($file)"
                            accept="image/*" ngf-max-height="2000" ngf-max-size="10MB">
                        {{licenceButton}}</button>
                </div>


            </li>
            <li class="row">
                <div class="col-md-2 col-md-offset-2">
                    <img class="licence_img" ng-if="merchant.licence!=null && merchant.licence!= ''" ng-src="{{merchant.licence}}" alt="">
                </div>
            </li>
        </ul>
        <!--<a class="save_btn" ng-click="saveBrandInfo()">保存</a>-->
        <a class="save_btn" ng-click="functionList[merchant.status]">{{methodList[merchant.status]}}</a>
    </div>
</div>
<div id="mask" class="mask"></div>

<style>
    .map_preview{
        width: 200px;
        height: 200px;
    }
    .logo_img{
        width: 200px;
        height: 200px;
    }
    .licence_img{
        width: 200px;
        height: 200px;
    }

    .allmap{position:fixed !important;left:50%;top:0;box-shadow:1px 1px 2px 1px rgba(0,0,0,0.5);z-index:999 !important}
    .closeBtn{position:fixed;right:10px;top:10px;font-size:20px;font-style:normal;cursor:pointer;font-size:50px;z-index:1000;color:#fff}
    .mask{position:fixed;top:0;left:0;bottom:0;right:0;background:#000;opacity:.5;filter:alpha(opacity=50);z-index:998;display:none}
</style>


<script src="js/linkageCity.js"></script>
<script src="js/myEvent.js"></script>
<script src="js/updateinformation.js"></script>