<!--
<div ng-controller="contentController">

	<table class="table">
	  <thead class="row">
	  	<h4 class="col-md-11">婚纱照分享</h4>

	    <a class="col-md-1" ui-sref="main.create">
    		<button class="btn btn-danger" >新建</button>
		</a>
	  </thead>
	  <tbody>

	  </tbody>
	</table>
<pagination items-per-page = "pageSize" total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
</div>


-->
<div ng-controller="contentController">
	<div class="curmb">
		<a ui-sref="main">婚纱照分享</a>
	</div>
	<div class="edit_wrap">
		<ul class="edit_zone">
			<li ui-sref="main.create" class="new_pic">
				<i></i>
				<p>点击新建</p>
			</li>

			<li ng-repeat="x in list">
				<div class="img_box">
					<img ng-src="{{x.banner_pic}}" alt="pic">
					<p>{{transferTime(x.updated_at)}}</p>
				</div>
				<h4>{{x.title}}</h4>
				<div class="pic_status">
					<span>浏览</span>
					<strong>{{x.read_num}}</strong>
					<span>分享</span>
					<strong>{{x.share_num}}</strong>
				</div>
				<div class="btn_zone">
					<a class="edit" ui-sref="main.modified({pid: x.id})">编辑</a>
					<a class="delete" ng-click="deleteProduct(x)">删除</a>
				</div>
			</li>
		</ul>
		<nav>
			<pagination items-per-page = "pageSize" total-items="totalItems" ng-model="currentPage" max-size="maxSize"
						class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"
						previous-text="上一页" next-text="下一页" first-text="首页" last-text="末页"></pagination>

			<!--<ul class="pagination">
				<li>
					<a href="#" aria-label="Previous">
						<span aria-hidden="true">上一页</span>
					</a>
				</li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a class="omit" href="#">...</a></li>
				<li><a href="#">20</a></li>
				<li>
					<a href="#" aria-label="Next">
						<span aria-hidden="true">下一页</span>
					</a>
				</li>
			</ul>   -->
			<div class="go_zone">
				第<input type="text" ng-model="page" name="" id="">页
				<a ng-click="goPage(page)">GO</a>
			</div>
		</nav>
	</div>
</div>
<style>
	.pagination > .active > a,
	.pagination > .active > span,
	.pagination > .active > a:hover,
	.pagination > .active > span:hover,
	.pagination > .active > a:focus,
	.pagination > .active > span:focus {
		z-index: 2;
		/* color: #fff; */
		cursor: default;
		background-color: #fe325f;
		border-color: #fe325f;
	}
</style>