<div>
	<div class="curmb">
		<a ui-sref="main.content">婚纱照分享</a>

	</div>
	<div class="edit_wrap">
		<ul class="edit_zone">
			<li ui-sref="main.content.create" class="new_pic">
				<i></i>
				<p>点击新建</p>
			</li>

			<li class="item" ng-repeat="x in list">
				<div class="pic">
					<div class="img_box">
						<img class="banner_pic" ng-src="{{x.banner_pic}}" alt="pic">
						<p>{{transferTime(x.updated_at) | date:'yyyy-MM-dd'}}</p>
					</div>
					<div class="qr_code">
						<qrcode class="qr_img" version="{{4}}" error-correction-level="{{M}}" size="{{240}}" data="{{getQRUrl(x)}}" href="{{getQRUrl(x)}}"></qrcode>
					</div>
				</div>

				<h4>{{x.title}}</h4>
				<div class="pic_status">
					<span>浏览</span>
					<strong>{{x.read_num}}</strong>
					<span>分享</span>
					<strong>{{x.share_num}}</strong>
				</div>
				<div class="btn_zone">
					<a class="edit" ui-sref="main.content.modified({pid: x.id})">编辑</a>
					<a class="delete" ng-click="deleteProduct(x)">删除</a>
				</div>

			</li>
		</ul>
		<nav class="mana_page">			
			<pagination items-per-page = "11" total-items="totalItems" ng-model="currentPage" max-size="5"
						class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"
						previous-text="上一页" next-text="下一页" first-text="首页" last-text="末页"></pagination>
			<div class="go_zone">
				第<input class="write_page" type="text" ng-model="page" name="" id="" placeholder="{{page}}">页
				<a ng-click="goPage(page)">GO</a>
			</div>

		</nav>
	</div>
</div>