<div ng-controller="productsController">

    <table class="table">
        <thead>
        <td>ID</td>
        <td>缩略图</td>
        <td>标题</td>
        <td>商家</td>
        <td>创建日期</td>
        <td>浏览</td>
        <td>分享</td>
        <td>二维码</td>
        <td>操作</td>
        </thead>
        <tbody>
        <tr ng-repeat="x in list">
            <td ui-sref="admin.products.product({product_id: x.id})">{{x.id}}</td>
            <td ui-sref="admin.products.product({product_id: x.id})">
                <img ng-src="{{x.banner_pic}}" alt="pic" style="width:200px; height:200px;"/>
            </td>
            <td ui-sref="admin.product({product_id: x.id})">{{x.title}}</td>
            <td>{{x.name}}</td>     <!-- TODO：跳转到商家页面无法完成，缺少商家ID -->
            <td>{{x.created_at}}</td>
            <td>浏览:{{x.read_num}}</td>
            <td>分享:{{x.share_num}}</td>
            <td>
                <div class="qr_code">
                    <qrcode class="qr_img" version="{{4}}" error-correction-level="{{M}}" size="{{240}}" data="{{getQRUrl(x)}}"></qrcode>
                </div>
            </td>

            <td><button class="btn" type="button" ng-click="functionList[x.status](x.id)">{{methodList[x.status]}}</button></td>
        </tr>
        </tbody>
    </table>
</div>