<div>

	<div class="header" ng-include="'controllers/header/header.view.html'"></div>


	<div class="mana_main">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div ng-if="permission == 'user'" ng-include="'controllers/sidebar/sidebar.view.html'"></div>
					<div ng-if="permission == 'admin'" ng-include="'controllers/admin/sidebar/adminSidebar.view.html'"></div>
				</div>
				<div class="col-md-9 col_cont">
					<div ui-view="content"></div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div ng-include="'views/footer.view.html'"></div>
	</div>


</div>








