<!--
<div class="span2" ng-controller="AccordionDemoCtrl">


  <ul class="nav nav-list">
    <li class="nav-header">婚纱照</li>
    <li class="active">
      <a ui-sref="main">
        分享
      </a>
    </li>
    <li>
      <a ui-sref="main.advertisement">
        广告
      </a>
    </li>

    <li class="nav-header">设置</li>
    <li>
      <a ui-sref="main.information">
        基本信息
      </a>
    </li>
    <li>
      <a ui-sref="main.password">
        修改密码
      </a>
    </li>
    <li>
      <a ui-sref="main.account">
        修改账号
      </a>
    </li>
  </ul>
</div>  -->

<div ng-controller="AccordionDemoCtrl">
    <div class="set_wrap">
        <dl>
            <dt>婚纱照</dt>
            <dd ui-sref="main" ng-class='{"cur":tog==1}' ng-click='tog=1'>分享</dd>
            <!-- <dd ui-sref="main.advertisement" ng-class='{"cur":tog==2}' ng-click='tog=2'>广告</dd> -->
        </dl>
        <dl>
            <dt class="set_tit">设置</dt>
            <dd ui-sref="main.information" ng-class='{"cur":tog==3}' ng-click='tog=3'>基本信息</dd>
            <dd ui-sref="main.password" ng-class='{"cur":tog==4}' ng-click='tog=4'>修改密码</dd>
            <dd ui-sref="main.account" ng-class='{"cur":tog==5}' ng-click='tog=5'>修改账号</dd>
        </dl>
    </div>
</div>