
<div>
	<div class="base_info">
		<div class="curmb">
			<a href="">设置</a> > <a href="">基本信息</a>
		</div>
		<form name="informationForm">
			<ul>
				<li class="row">
					<div class="col-md-2">
						<span class="key">商家名称：</span>
					</div>
					<div class="col-md-10">
						<input ng-model="localMerchant.name" id="brand_name" class="ipt" type="text">
					</div>
				</li>
				<li class="row">
					<div class="col-md-2">
						<span class="key">联系方式：</span>
					</div>
					<div class="col-md-10">
						<input ng-model="localMerchant.phone" id="contact_phone" class="ipt" type="text" maxlength="11">
					</div>
				</li>
				<li class="row">
					<div class="col-md-2">
						<span class="key">默认网址：</span>
					</div>
					<div class="col-md-10">
						<input ng-model="localMerchant.webPage" id="web_page" class="ipt" type="text">
					</div>
				</li>
				<li class="row">
					<div class="col-md-2">
						<span class="key">商家LOGO：</span>
					</div>
					<div class="col-md-10">
						<button id="brand_logo" class="base_btn"  role="button"
								ng-click="uploadOption = 'logo'" data-logo-src="{{localMerchant.logo}}"
								class="upload_btn" type="file" ngf-select="uploadSingleFile($file)"
								accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
							{{logoButton}}</button>
					</div>
				</li>
				<li ng-show="logo_uploading" class="row">
					<div class="col-md-6 col-md-offset-2">
						<progressbar  animate="true" value="logo_process" type="success"><b>{{logo_process}}%</b></progressbar>
					</div>
				</li>
				<li class="row">
					<div class="col-md-2 col-md-offset-2">
						<img class="logo_img" ng-if="localMerchant.logo!=null && localMerchant.logo!= ''" ng-src="{{localMerchant.logo}}" alt="">
					</div>
				</li>

				<li class="row">
					<div class="col-md-2">
						<span class="key">商家类型：</span>
					</div>
					<div id="brand_type" class="col-md-10" data-type="">
						<div class="radio_zone">
							<input ng-model="localMerchant.type" ng-checked="localMerchant.type==0" id="type1" data-type="1" class="rad" type="radio" name="type" value="0">影楼
							<input ng-model="localMerchant.type" ng-checked="localMerchant.type==1" id="type2" data-type="2" class="rad" type="radio" name="type" value="1">工作室
						</div>
					</div>

				</li>

				<li class="row">
					<div class="col-md-2">
						<span class="key">商家地址：</span>
					</div>
					<div class="col-md-10">
						<select required=""  ng-model="localMerchant.province" ng-options="key as key for (key,value) in division"
								ng-change="localMerchant.city='';localMerchant.area='';">
							<option value="">省</option>
						</select>

						<select  ng-model="localMerchant.city" ng-options="key as key for (key,value) in division[localMerchant.province]"
								 ng-change="localMerchant.area='';">
							<option value="">市</option>
						</select>
						<select  ng-model="localMerchant.area" ng-options="value as value for value in division[localMerchant.province][localMerchant.city]">
							<option value="">区</option>
						</select>
					</div>
				</li>

				<li class="row">
					<div class="col-md-2">
						<span class="key">详细地址：</span>
					</div>
					<div class="col-md-10">
						<input id="detail_address" ng-model="localMerchant.address" id="detail_address" class="ipt" type="text" name="" id="" data-empty="请填写详细地址">
					</div>
				</li>
				<li class="row">
					<div class="col-md-2">
						<span class="key">地图标注：</span>
					</div>
					<div class="col-md-10">
						<a ng-click="openMapModal()" class="base_btn" role="button" id="map_mark" >重新标注</a>
					</div>
				</li>
				<li class="row">
					<div class="col-md-offset-2 map_preview">
						<baidu-map  options="smallMap" control="smallMapControl"></baidu-map>
					</div>
				</li>
				<li class="row">
					<div class="col-md-2">
						<span class="key">营业执照：</span>
					</div>
					<div class="col-md-10">
						<button id="licence_pic" class="base_btn" role="button"
								ng-click="uploadOption = 'licence'" data-logo-src="{{localMerchant.licence}}"
								class="upload_btn" type="file" ngf-select="uploadSingleFile($file)"
								accept="image/*" ngf-max-height="2000" ngf-max-size="10MB">
							{{licenceButton}}</button>
					</div>
				</li>
				<li ng-show="licence_uploading" class="row">
					<div class="col-md-6 col-md-offset-2">
						<progressbar  animate="true" value="licence_process" type="success"><b>{{licence_process}}%</b></progressbar>
					</div>
				</li>
				<li class="row">
					<div class="col-md-2 col-md-offset-2">
						<img class="licence_img" ng-if="localMerchant.licence!=null && localMerchant.licence!= ''" ng-src="{{localMerchant.licence}}" alt="">
					</div>
				</li>
			</ul>
			<a class="save_btn b_state_e" ng-click="saveBrandInfo()">保存</a>
		</form>

	</div>

</div>
<div id="mask" class="mask"></div>

<div>
	<div class="modal fade in" aria-hidden="false" style="display: block;" ng-show="showModal">
		<div class="modal-dialog ">
			<div class="modal-content">

				<div class="modal-header">
					<h3 class="modal-title">地图标注</h3>
				</div>
				<div class="modal-body" style="height: 600px">
					<baidu-map control="mapModalControl" options="mapOptions"></baidu-map>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" type="button" ng-click="closeMapModal()">OK</button>
					<button class="btn btn-warning" type="button" ng-click="dismissMapModal()">Cancel</button>
				</div>
			</div>

		</div>
	</div>
</div>

<style>
	.map_preview{
		width: 200px;
		height: 200px;
	}
	.logo_img{
		width: 200px;
		height: 200px;
	}
	.licence_img{
		width: 200px;
		height: 200px;
	}

	.map-outer {
		overflow: hidden;
		position: relative;
		height: 400px;
		width: 400px;
	}

	.map-inner {
		position: absolute;
		height: 400px;
		width: 400px;
		right: -400px;
		top: 50px;
	}

	.allmap{position:fixed !important;left:50%;top:0;box-shadow:1px 1px 2px 1px rgba(0,0,0,0.5);z-index:999 !important}
	.closeBtn{position:fixed;right:10px;top:10px;font-size:20px;font-style:normal;cursor:pointer;font-size:50px;z-index:1000;color:#fff}
	.mask{position:fixed;top:0;left:0;bottom:0;right:0;background:#000;opacity:.5;filter:alpha(opacity=50);z-index:998;display:none}
</style>