
<div class="row">
	<div>婚纱照分享 > 你是我一生的守候</div>

	<hr/>
	<br/>
	<div class="col-md-12">

        <div class="row">
            <div class="col-md-3">
                <div id="coverContainer">
                    <img ng-src="{{product.banner_pic}}" alt="封面图片" width="150" height="150"/>
                    <!--<button id="coverChangeBtn">更改封面</button> -->
					<button id="coverChangeBtn" type="file" ngf-select="uploadFiles($file, $invalidFiles)"
							accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
						更改封面</button>

                </div>

            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <textarea type="text" ng-model = "product.title" rows="1" cols="20"/>
                    </div>
                    <div class="col-md-12">
                        <textarea ng-model = "product.description" rows="4" cols="50"/>
                    </div>
                </div>

            </div>
        </div>
		<div class="col-md-3">

		</div>


	</div>


	<div id="settings-container">
		<div id="brand-tail" class="row">
			<p class="col-md-2">尾页品牌</p>
			<switch id="brand" name="enabled" ng-model="product.is_brand" class="green col-md-2"></switch>
			<p class="col-md-6">作品最后一页展示商家品牌</p>
		</div>
		<!--<div id="business-mainpage" class="row">
			<p class="col-md-2">商家主页</p>
			<switch class="col-md-2" id="home" name="enabled" ng-model="product.is_home" class="green"></switch>
			<p class="col-md-6">作品展示在商家主页上</p>
		</div> -->
		<div id="backgroud music" class="row">
			<p class="col-md-2">背景音乐：</p>
			<p class="col-md-2">{{musicName}}</p>
			<div class="col-md-6">
				<button class="btn btn-default" type="file" ngf-select="uploadMusic($file)" ngf-max-size="3MB">
					{{musicButton}}</button>
			</div>

			
		</div>
		<div id="page-settings" class="row">
			<p class="col-md-2">页面切换</p>

			<select ng-model="product.change_status">
				<option ng-selected="product.change_status == item.value" ng-repeat="item in options" ng-value="item.value">{{item.name}}</option>
			</select>


		</div>


		<div id="image" class="col-md-8">
			<h4>上传照片 （960*1080， jpg、png、gif格式，大小不超过3M）</h4>

			<div id="imageUpload" class="row">
                <div class="col-md-12">
                    <div ngf-drop ngf-select ng-model="files" class="jumbotron"
                         ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
                         accept="image/*,application/pdf"
                         ngf-pattern="'image/*,application/pdf'">

						<!--<div>
							<li ng-repeat="f in files">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
						</div> -->
						<div class="jumbotron">
							<!--<li ng-repeat="f in files">{{f.name}} {{f.$error}} {{f.$errorParam}}</li> -->
							<img ng-repeat="pic in product.pics" ng-src="{{pic}}" alt="图片" width="200" height="200"  />

						</div>

                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <button class="btn btn-danger" width="100%">上传照片</button>
                            </div>
                        </div>
                    </div>
                </div>



				<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
			</div>

            <br>
            <br>

			<div id="action">
				<button class="btn btn-default" ng-click="saveChanges()">保存</button>
				<button class="btn btn-default">预览</button>
			</div>
		</div>
	</div>
	</div>
<style>
	#coverContainer {
		display:inline-block;
		position:relative;
	}
	#coverChangeBtn {
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		background: rgba(255,255,255,0.6);
	}

</style>
<style>
	.infoL{
		box-sizing: content-box;
	}
	textarea {
		resize: none;
	}
</style>