<div>
	<table class="table">
	  <thead>
	    <a ui-sref="main.set_hot">
    		<button class="btn btn-danger navbar-btn" >添加热门推荐</button>
		</a>
	  </thead>
	  <tbody>
	    <tr>
	      <td>顺序</td>
	      <td>作品</td>
	      <td>操作</td>
	    </tr> 

	    <tr ng-repeat="item in hotProductList.content">
	      <td>{{$index+1}}</td>
	      <td>{{item.title}}</td>
	      <td>
	      	<button class="btn btn-default" ng-click="goUp(item)">up</button>
	      	<button class="btn btn-default" ng-click="goDown(item)">down</button>
	      	<button class="btn btn-default" ng-click="replaceProduct(item)">替换</button>
	      	<button class="btn btn-default" ng-click="deleteProduct(item)">删除</button>
	      </td>
	    </tr> 
	  </tbody>
	</table>
</div>