<form name="loginForm">
    <div id="login_zone" class="tipsBox login-zone" ng-show="loginFormVisible">
        <input ng-model="account" name="account" placeholder="账号（手机号）" class="ipt J_account" type="text"
               ng-pattern="/^1{1}[3-9]{1}[0-9]{9}$/" ng-maxlength="11" required>
        <div class="error" ng-show="loginSubmitted" ng-messages="loginForm.account.$error">
            <div ng-message="required">请输入手机号</div>
            <div ng-message="pattern">请输入正确的手机号</div>
            <div ng-message="maxlength">请输入正确的手机号</div>
        </div>
        <input ng-model="password" name="password" placeholder="密码" class="ipt J_password" type="password"
                ng-minlength="6" ng-maxlength="10" required>
        <div class="error" ng-show="loginSubmitted" ng-messages="loginForm.password.$error">
            <div ng-message="required">请填写密码</div>
        </div>
        <a class="login-btn J_login_btn" ng-click="login()">登录</a>
        <div class="info">
            <input ng-model="rememberMe" ng-true-value="1" ng-false-value="0"  id="remember_me" type="checkbox" name="" id="">
            30天内自动登录
            <a id="forget_link" class="forget-link" ng-click="forget()">忘记密码</a>
        </div>
        <a ui-sref="register" class="brand-regist-btn">商家免费注册</a>
        <i class="close-btn J_close_btn" ng-click="closeLoginAndForgetZone()"></i>
    </div>
</form>
<form name="forgetForm">
    <div id="forget_zone" class="tipsBox forget-zone" ng-hide="loginFormVisible">
        <div class="ipt-zone">
            <input ng-model="account" class="ipt" type="text" name="account" placeholder="账号（手机号）" maxlength="11"
                   ng-pattern="/^1{1}[3-9]{1}[0-9]{9}$/" ng-maxlength="11" required>
        </div>
        <div class="error" ng-show="forgetSubmitted" ng-messages="forgetForm.account.$error">
            <div ng-message="required">请输入账号~</div>
            <div ng-message="pattern">请输入正确的手机号</div>
            <div ng-message="maxlength">请输入正确的手机号</div>
        </div>
        <div class="ipt-zone">
            <input ng-model="code" class="ipt" type="text" name="code" placeholder="验证码"
                   required>
            <span class="get-code" ng-click="getPasscode()">{{default.passcodeText}}</span>
        </div>
        <div class="error" ng-show="forgetSubmitted" ng-messages="forgetForm.code.$error">
            <div ng-message="required">请输入验证码</div>
        </div>
        <div class="ipt-zone">
            <input ng-model="password" class="ipt" type="password" name="password" placeholder="密码（6-20位字母或数字）"
                   required>
        </div>
        <div class="error" ng-show="forgetSubmitted" ng-messages="forgetForm.password.$error">
            <div ng-message="required">请输入密码</div>
        </div>
        <div class="ipt-zone">
            <input ng-model="rePassword" class="ipt" type="password" name="rePassword" placeholder="确认密码（6-20位字母或数字）"
                   required>
        </div>
        <div class="error" ng-show="forgetSubmitted" ng-messages="forgetForm.rePassword.$error">
            <div ng-message="required">请再次输入密码</div>
        </div>
        <a id="finish_btn" class="finish-btn" ng-click="resetPassword()">完成</a>
        <i class="close-btn J_close_btn" ng-click="closeLoginAndForgetZone()"></i>
    </div>
</form>