<div class="col-md-6 col-md-offset-3">
    <h2>忘记密码</h2>
    <div ng-show=" error" class="alert alert-danger">{{ error}}</div>
    <form name="resetPasswordForm" ng-submit="resetPassword()" role="form">
        <div class="form-group">
            <label>账号</label>
            <input type="text" class="form-control" ng-model="account" required />
        </div>

        <div class="form-group">
            <label>验证码</label>
            <input type="text" class="form-control" ng-model="code" required />
            <button ng-click="getPasscode()">获取验证码</button>
        </div>


        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>

        <div class="form-group">
            <label for="rePassword">再次输入密码</label>
            <input type="password" name="rePassword" id="rePassword" class="form-control" ng-model="rePassword" required />
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">提交</button>
        </div>

    </form>
</div>